.tag-li {
  list-style-type: none;

  input[type='checkbox'] {
    display: none;
  }

  .tag-label {
    color: black;
    font-family: 'Inconsolata', monospace;
    font-size: 1.33em;
    display: flex;
    user-select: none;
    margin: 0 8px 8px 0;
    padding: 0 3px;
    border-radius: 2px;
    background-image: url('/patterntag.svg');
    background-color: $secondary-text-color;

    img + span {
      margin-left: 2px;
    }

    &.selectable {
      cursor: pointer;
    }

    @media (min-width: $desktop-width) {
      font-size: 1.34em;
    }
  }
}
