@import '../../global/styles.scss';

.admin-page {

	h1 {
		font-size: 5em;
		margin-top: 100px;
	}

	.editable-tags,
	.editable-projects,
	.editable-experiences {
		button:last-child {
			line-height: 40px;
			background-color: transparent;
			border: none;
			color: $primary-text-color;
			font-size: 1.167em;
			font-weight: bold;
		}
	}

	.editable-tags {

	}

	.editable-projects {
		
	}

	.editable-experiences {
		
	}
}