@import '../../global/styles.scss';

.admin-page {

	h1 {
		font-size: 5em;
		margin-top: 100px;
		margin-bottom: 20px;
	}

	.add-another-button {
		margin-left: 12px;
		line-height: 40px;
		font-size: 1.167em;
		font-weight: bold;
	}

	.editable-tags,
	.editable-projects,
	.editable-experiences {
		
	}

	.editable-tags-wrapper {
		.editable-tags {
			margin: 0;
			padding: 0;
			display: flex;
		}

		.add-another-button {
			margin-left: 0;
			line-height: initial;
		}
	}
	

	.editable-projects {
		
	}

	.editable-experiences {
		
	}
}