@import '../../global/variables.scss';

.loading-message {
	position: absolute;
	margin-left: 12px;
	margin-top: 12px;
	font-size: 16px;
}

.editable-item {
	color: $secondary-text-color;
	//span, img, div { border: solid 1px red; }

	.info-row {

		&.contains-changes {
			color: $primary-color;
			
			.title {
				color: $primary-color;
			}
		}
		
		cursor: pointer;
		display: flex;

		&:hover {
			background-color: rgba(255, 255, 255, .1);
		}

		button {
			background-color: transparent;
			border: none;
			color: inherit;
			padding: 0;
			
			img {
				vertical-align: middle;
			}
		}
	
		.hamburger {
			margin-left: 12px;
			display: flex;
		}
	
		.date-info {
			line-height: 40px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			//font-size: 1.33em;
			padding-left: 22px;
			width: 140px;
		}
	
		.title {
			line-height: 40px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			//font-size: 1.33em;
			font-weight: bold;
			color: $primary-text-color;
			padding-left: 22px;
			width: 260px;
		}
	
		.description {
			line-height: 40px;
			flex: 1;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			padding-left: 22px;
		}
	
		.item-tags,
		.item-images {
			height: 40px;
			padding-left: 15px;
			padding-right: 20px;
			line-height: 40px;
			position: relative;
	
			span {
				font-size: 1.33em;
				font-weight: bold;
				margin-right: 6px;
			}
	
			img {
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
	
		.delete {
			margin-left: 15px;
			margin-right: 12px;
		}
	}
	
	.form {

		.save-button,
		.cancel-button {
			font-size: 1.33em;
			background-color: transparent;
		}

		.save-button {
			padding: 10px 40px;
			margin-left: 12px;
			color: $primary-color;
			border: solid 1px $primary-color;
			border-radius: 10px;

			&:disabled {
				color: $secondary-text-color;
				border-color: $secondary-text-color;
			}
		}

		.cancel-button {
			padding: 10px 30px;
			border: none;
			color: $secondary-text-color;
		}
	}
}