.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: 1.83em;
    color: $secondary-text-color;
  }
}

@media (min-width: $desktop-width) {
  .home-page {
    h2 {
      font-size: 3em;
    }
  }
}
