.main-nav {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 90;
  background: $background-color-opaque;
  top: 0;
  width: 100%;
  height: $navbar-height;
  padding: 0 22px;
  pointer-events: none;
  box-sizing: border-box;

  > * {
    pointer-events: all;
  }

  .logo {
    display: block;

    img {
      vertical-align: middle;
    }
  }

  .admin-console-label {
    margin: 0 24px 0 24px;
    text-decoration: none;
    color: $secondary-text-color;
    font-size: 1.14em;
  }

  .nav-hamburger {
    display: none;
    margin-left: auto;

    @media (max-width: $desktop-width) {
      display: block;
    }

    img {
      height: 19px;
      vertical-align: middle;
    }
  }
}

div.nav-items {
  display: flex;
  gap: 22px;
  font-size: 16px;
  margin-left: auto;
  background-color: $background-color-opaque;

  .nav-item {
    display: block;
    color: $primary-text-color;
    text-decoration: none;

    &.resume {
      color: $primary-color;
    }
  }

  @media (max-width: $desktop-width) {
    position: fixed;
    z-index: 1000;
    top: $navbar-height;
    right: 22px;
    text-align: right;
    flex-direction: column;

    &[data-hamburger-expanded='false'] {
      display: none;
    }
  }
}
