@import '../global/variables.scss';

.contact-page {
	h2 {
		margin-top: 3.33em;
		font-size: 1.166em;
		font-weight: normal;
		color: $secondary-text-color;
		margin-bottom: .66em;
	}

	img {
		height: 1.34em;
	}

	p {
		font-size: 1.33em;
	}

	.social-horizontal {
		margin-top: .66em;
	}
}