.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: $secondary-text-color;
  //background-color: green;
  text-align: center;
  line-height: 80px;

  a {
    color: $secondary-text-color;
  }
}
